---
layout: page
title: About
permalink: /about/
---

<p>The Computer Science Student Union, or CSSU for short, represents over 1200 Computer Science students who are either taking a Computer Science course or are part of a Computer Science POSt at the University of Toronto St. George campus.</p>

<p>We offer a variety of services and events. We sell drinks and snacks out of our office in BA2250 and run events including our popular Games Night where students have the opportunity to socialize with classmates over games, of all kinds, all night long.</p>

<p>If you wish to get in touch with us, you can email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>, stop by our office on the UofT St. George campus at BA2250, or you can contact one of our members directly from our members page.</p>

<p>You can also <a href="https://docs.google.com/document/d/1KNo62xN3E9IX6QqUXL9ngkWcYEGUfUTzVw0J6-wmFNM/edit">read our constitution here.</a></p>


<header class="post-header">
  <h1>Branding</h1>
</header>

<p>If you're interested in the branding style guidelines for the CSSU, you can refer to the official <a href="/about/branding/">style guide</a>.</p>

<p>You can also check out our <a href="/about/promos/">archive of promotional materials</a>.</p>


<header class="post-header">
  <h1>Members</h1>
</header>

<div class="members-page">
  <h2>{{ site.data.members[0].year }}</h2>

  {% for team in site.data.members[0].teams %}
    <h2>{{ team.name }}</h2>
    <ul class="members-list">
      {% for member in team.people %}
        {% include member.html %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<p class="center">
  <a href="/about/pastmembers/">You can find lists of past members here</a>.
</p>
